[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fastapi = "*"
uvicorn = "*"
pillow = "*"
tensorflow-gpu = "==1.14.0"
base58 = "*"

[requires]
python_version = "3.6"

[scripts]
server = 'uvicorn main:app --host=0.0.0.0 --port=3141'
