body {
  margin: 0;
  font-family: Win;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App-header {
  background-image: url('https://66.media.tumblr.com/fa02767f78525ca223662dd1fed57d39/tumblr_py3dnpfCka1xbk5hwo2_500.png');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
